<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <title><%= Rails.application.class.parent_name %> Components</title>
  <script src="/build/<%= Rails.application.class.parent_name.downcase %>.js"></script>
</head>
<body>
  <hello-world first="Stencil" last="'Don't call me a framework' JS"></hello-world>
</body>
</html>
